//settings
$fa-font-path: "../font";

// Colors //
$black: #020205;
$white: #fffC;
$pink: #B0BA;
$blue: #00BA;
$red: #c40404;
$primary-color: $red;
$gray: #656565;

//Fonts
$primary-font: 'Roboto', sans-serif;
